.Header {
    display: flex;
    justify-content: center;
    position:fixed;
    width: 100%;
    height: 75px;
    background: rgb(156, 135, 238);
    padding-top: 15px;
    padding-left: 25px;
    z-index: 999999;
    font-size: 2em;
    font-weight: bold;
}
